{{ $gallery := "" }}

{{ $images := slice }}
{{ if eq .Kind "term" }}
  {{ range .Pages }}
    {{ $images = $images | append (.Resources.ByType "image") }}
  {{ end }}
{{ else }}
  {{ $images = (.Resources.ByType "image") }}
{{ end }}

{{ with $images }}
  {{ $id := $.RelPermalink | crypto.FNV32a }}
  {{ $idx :=  mod $id (len $images) }}
  {{ $first := index $images $idx }}
  {{ $thumb := $first.Fill "400x264 smart" }}
  {{ $gallery = dict
    "page" $
    "images" $images
    "thumb" $thumb
  }}
{{ end }}
{{ return $gallery }}
